<template name="header">
  <div class="wrapper">
    <div class="box">
      <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
          
          <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
          </ul>
           
          <ul class="nav hidden-xs" id="lg-menu">
            <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
            <li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
          </ul>
          <ul class="list-unstyled hidden-xs" id="sidebar-footer">
            <li>
              <a href="http://www.bootply.com"><h3>Bootstrap</h3> <i class="glyphicon glyphicon-heart-empty"></i> Bootply</a>
            </li>
          </ul>
          
          <!-- tiny only nav-->
          <ul class="nav visible-xs" id="xs-menu">
            <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
            <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
            <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
            <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
          </ul>
          
        </div>
        <!-- /sidebar -->
          
        <!-- main right col -->
        <div class="column col-sm-10 col-xs-11" id="main">
            
          <!-- top nav -->
          <div class="navbar navbar-blue navbar-static-top">  
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand logo">C</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
              <form class="navbar-form navbar-left">
                <div class="input-group input-group-sm" style="max-width:360px;">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
              </form>
              <ul class="nav navbar-nav">
                <li>
                  <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
                </li>
                <li>
                  <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
                </li>
                <li>
                  <a href="#"><span class="badge">badge</span></a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="">More</a></li>
                    <li><a href="">More</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /top nav -->
          
            <div class="padding">
              <div class="full col-sm-9">
                <!-- content -->                      
                <div class="row">
                  <!-- main col left --> 
                  <div class="col-sm-5">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>Map to go here</h4>
                      </div>
                      <div class="panel-body">
                        <p>some info about bearings here</p>
                      </div>
                    </div>
                
                    <div class="well"> 
                      <form class="form-horizontal" role="form">
                        <h4>Your Spot - sort the css out</h4>
                          <div class="form-group">
                            <input type="text" class="form-control" id="dxCallSign" placeholder="DX Callsign" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="freq" name="freq" class="form-control" placeholder="Frequency MHz" pattern="\d+\{2}.\d+\{3}.\d+{2}" required>
                        </div>
                        <div class="form-group">
                          <select class="form-control" id="mode">
                            <option>CW</option>
                            <option>SSB</option>
                            <option>FM</option>
                            <option>PSK</option>
                            <option>RTTY</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="comments" placeholder="Your comments">
                        </div>
                        <div class="form-group">
                             <button type="submit" class="btn btn-info">Post</button>
                        </div>
                      </form>
                    </div>
                  </div>   
                  <!-- main col right -->
                  <div class="col-sm-7">
                    {{#each spots}}
                      {{> dxSpot}}
                    {{/each}}
                    <!-- dx spots  -->
<!--                     <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5 class="pull-right">Spotter</h5>
                        <h4><mark>DX CallSign</mark></h4>
                      </div>
                      <div class="panel-body">
                        <p>
                          <img src="//placehold.it/150x150" class="img-circle pull-right"> <h4><b>14.020.10</b></h4>
                        </p>
                        <p>CW</p>
                        <p>21.01.15 16:27:42</p>
                        <div class="clearfix"></div>
                        <hr>
                          Great pile-up, loads of noise but signs 559 here in UK. Tks.
                      </div>
                   </div> -->
                  </div>

                </div><!--/row-->
              </div><!-- /col-9 -->
            </div><!-- /padding -->
        </div><!-- /main -->
      </div><!-- /row -->
    </div><!-- /box -->
  </div><!-- /wrapper -->
</template>