<template name="dxSpot">
{{#Animate}}
	<!-- dx spots  -->
	<div class="panel panel-default spot animate">
	  <div class="panel-heading">
	    <h5 class="pull-right">{{spotter}}</h5>
	    <h4><mark><b>{{dx}}</b></mark></h4>
	  </div>
	  <div class="panel-body">
	  	<img src="england.png" class="img-circle pull-right"> 
	    <p><h4><b>{{freq}}</b></h4></p>
	    <p>{{mode}}</p>
	    <p>{{timestamp}}</p>
	    <!-- <div class="clearfix"></div> -->
	    <hr>
	      {{comments}}
	  </div>
	</div>
{{/Animate}}
</template>