<template name="spotItem">
{{#Animate}}
	<!-- dx spots  -->
	<div class="panel panel-default spot animate">
	  <div class="panel-heading">
	    <!-- <img src="uk.png" class="img-circle"> -->
	    <h4 class=""><mark><b>{{dx}}</b></mark><small> - {{entity}} (Entity Code {{entityCode}})</small></h4>
	    	
	    	<!-- <small> -->
	    		<!-- Entity: {{entity}} -->
	    		<!-- Continent: {{continent}} -->
	    		<!-- ITU: {{ituZone}} -->
	    		<!-- CQ: {{cqZone}} -->
	    		<!-- Entity Code: {{entityCode}} -->
	    	<!-- </small> -->
	  </div>
	  <div class="panel-body">
	  	<img src="uk.png" class="img-circle pull-right"> 
	    <p><h4><b>{{freq}} MHz</b></h4></p>
	    <p>{{mode}}</p>
	    <p>{{timestamp}}</p>
	    <!-- <div class="clearfix"></div> -->
	    <hr>
	    {{comments}}
	  </div>
	  <div class="panel-footer text-right">
	  	<small>Spotted by {{spotter}}</small>
	  </div>
	</div>
{{/Animate}}
</template>