<template name="spotItem">
{{#Animate}}
	<!-- dx spots  -->
	<div class="panel panel-default spot animate">
	  <div class="panel-heading">
	    <h4>
	    	<span class="text-left">
	    		<mark><b>{{dx}}</b></mark>
	    		<small> - {{entity}} (Continent {{continent}})</small>
	    	</span>
	    	<!-- <span class="pull-right"><small>spotted by {{spotter}}</small></span> -->
	    </h4>

	  </div>
	  <div class="panel-body">
	  	<img src="uk.png" class="img-flag pull-right"> 
	    <p><h4><b>{{freq}} MHz</b></h4></p>
	    <p>{{mode}}</p>
	    <p>{{timestamp}}</p>
	    <p>{{comments}}</p>
	    <p><small>ITU Zone {{ituZone}} : CQ Zone {{cqZone}} : Entity Code {{entityCode}}</small></p>
	    <p class="text-right"><small><u>Spotted by {{spotter}}</u></small></p>
	  </div>
	  <!-- <div class="panel-footer">
	  	<p><span class="pull-left">{{comments}}</span><span class="pull-right"><small>Spotted by {{spotter}}</small></span></p>
		<p><small>Spotted by {{spotter}}</small></p>
	  </div> -->
	</div>
{{/Animate}}
</template>